.introtextContainer {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: space-between; /* Distributes space between the text and image */
    padding: 100px 80px 0 80px; 
    margin: 90px 0 300px 0; 
    flex-wrap: wrap; /* Allow flex items to wrap if necessary */
}

.introtext {
    flex: 1; /* Ensure the text takes up the remaining space */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    min-width: 300px; /* Ensure text does not get too narrow */
    font-family: 'Arial', sans-serif;
}
.typeEffect{
    display: flex;
    height: 90px;
   align-items: center;
}

.introtext h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

.introtext h2 {
    font-size: 40px;
    margin-top: 0;
    padding-top: 18px;
    line-height: 60px;
}

.image {
    width: 20%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 100%;
    border: solid var(--color-dark) 6px;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0); /* Corrected box-shadow */
    margin-left: 20px; /* Add some space between the text and the image */
}

/* Animation for Hero Image */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .introtextContainer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
        padding: 20px 20px 0 20px; /* Adjust padding for smaller screens */
    }

    .introtext {
        margin-right: 0;
        padding-right: 0;
        max-width: 100%; /* Allow text to take full width on small screens */
        text-align: center; /* Center text on smaller screens */
    }

    .image {
        width: 80%; /* Adjust image width for smaller screens */
        margin-left: 0; /* Remove left margin */
    }
}
